[Unit]
Description=Set Interfaces before miniupnpd start
Before=miniupnpd.service

[Service]
Type=oneshot
PassEnvironment=WAN_INT
PassEnvironment=LAN_INT
PassEnvironment=SECURE_MODE
PassEnvironment=ALLOW_SUBNETS
PassEnvironment=ALLOW_PORT_RANGE
ExecStart=/bin/bash /etc/miniupnpd/setconfigfile.sh
RemainAfterExit=false
StandardOutput=journal

[Install]
WantedBy=multi-user.target
